@model ShippingDetailsViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@



<form asp-controller="Cart" asp-action="Complete">
    <div class="form-group">
        <label asp-for="ShippingDetail.FirstName">First name</label>
        <input asp-for="ShippingDetail.FirstName" class="form-control" placeholder="Enter your first name" />
        <span asp-validation-for="ShippingDetail.FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetail.LastName">Last name</label>
        <input asp-for="ShippingDetail.LastName" class="form-control" placeholder="Enter your last name">
        <span asp-validation-for="ShippingDetail.LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetail.Email">Email</label>
        <input type="email" class="form-control" placeholder="example@example.com" asp-for="ShippingDetail.Email" >
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <span asp-validation-for="ShippingDetail.Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetail.City" placeholder="Enter your city">City</label>
        <input class="form-control" placeholder="Enter city " asp-for="ShippingDetail.City">
        <span asp-validation-for="ShippingDetail.City"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetail.ShippingAddress" placeholder="Enter your adress">Adress</label>
        <input class="form-control" placeholder="Enter adress " asp-for="ShippingDetail.ShippingAddress">
        <span asp-validation-for="ShippingDetail.ShippingAddress"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Complete shipping">

</form>