@model CategoryListViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h2>Category List</h2>

<table class="table table-responsive" style="width: -webkit-fill-available">

    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>

    @foreach (var category in Model.Categories)
    {
        <tbody>
            <tr>
                <td>
                    @category.CategoryName
                </td>
            </tr>
        </tbody>

    }
</table>